button {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.oculto{
    display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #FFFFFF;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }

.portada {
    text-align: center;
    background-color: #9CE6A8;
}

.caja_botones{
    text-align: center;
}

.contenedor {
    border: 1px solid #18AB32;
    text-align: center;
}

.fotoZoom {
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    background-color: #F0F8FF;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}